body{
    background-color: antiquewhite;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .store-link {
    color: rgb(0, 0, 0);
}